[run]
source = .
omit = 
    .venv/*
    tests/*
    **/__init__.py
    **/config-*.py
    setup.py
    */site-packages/*
    .git/*
    htmlcov/*
    coverage.xml

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
    pass
    raise ImportError
    except ImportError:
    if TYPE_CHECKING:

[html]
directory = htmlcov
